<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>List of Jobs</title>
</head>
<body>
<h1>List of Jobs</h1>
<div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Template Name</th>
      <th>Status</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="job : ${jobs}">
      <td th:text="${job.id}"></td>
      <td th:text="${job.template.templateName}"></td>
      <td th:text="${job.status}"></td>
      <td th:text="${#dates.format(job.createdAt, 'yyyy-MM-dd')}"></td>
      <td>
        <a th:href="@{/templates/{id}(id=${job.template.id})}">View Template</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
