<!DOCTYPE html>
<html
  th:replace="~{layout/default-layout :: layout(content = ~{::content})}"
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Resume Builder</title>
  </head>
  <body>
    <div th:fragment="content">
      <div class="container">
        <h1>Welcome to Resume Builder</h1>
        <p>
          Start building your professional resume from JSON data and LaTeX
          templates easily.
        </p>
      </div>
    </div>
  </body>
</html>
