<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Resume Builder</title>
</head>
<body>
<div class="container">
    <h1>Welcome to Resume Builder</h1>
    <p>Start building your professional resume from JSON data and LaTeX templates easily.</p>

    <nav>
        <ul>
            <li><a th:href="@{/templates}">Manage Templates</a></li>
            <li><a th:href="@{/templates/new}">Create New Template</a></li>
            <li><a th:href="@{/jobs}">View Jobs</a></li>
            <li><a th:href="@{/jobs/new}">Create New Job</a></li>
        </ul>
    </nav>
</div>
</body>
</html>
