.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  color: #fff;
  border: solid 2px #4f545c;
  transition: background-color 0;
  &:active {
    background-color: #707680;
  }
}
