.content {
  margin: 2rem;
  background-color: #363636;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}
