.editor-wrapper {
  display: flex;
  position: relative;
  width: 400px;
  height: 300px;
  border: solid 2px gray;
  border-radius: 2px;
  overflow: hidden; /* Ensure the overflow is contained */
}

.lines-container {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Hide overflow */
  background-color: #eee;
  padding-right: 10px; /* Adjust spacing */
}

.line-numbers {
  margin: 0;
  padding-top: 1px; /* Adjust for alignment */
  color: #999;
  font-family: monospace;
  font-size: 14px; /* Ensure this matches the editor font size */
  line-height: normal; /* Adjust line height for alignment */
  white-space: pre; /* Prevent wrapping */
}

.editor-container {
  flex-grow: 1;
  border: none;
  resize: none;
  font-family: monospace;
  font-size: 14px; /* Match line number font size */
  line-height: normal; /* Match line height with line numbers */
  overflow-y: scroll; /* Allow vertical scrolling */
}

.editor-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  width: calc(100% - 2px); /* Adjust width to fit inside the border */
}

button {
  background-color: #818181;
  color: #ddd;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

button:disabled {
  background-color: #333;
  color: #666;
  cursor: not-allowed;
}

.success-message {
  color: green;
  margin-right: auto; /* Moves the message to the left */
}

.error-message {
  color: red;
  margin-right: auto;
}
