.editor-wrapper {
  position: relative;
  width: 400px;
  height: 300px;
  border: solid 2px gray;
  border-radius: 2px;
  display: flex;
}

.lines-container {
  flex-shrink: 0;
  overflow: hidden;
  background-color: #eee; /* Line numbers background */
  padding-right: 10px; /* Spacing between line numbers and the text area */
}

.line-numbers {
  margin: 0; /* Remove default margin */
  padding-top: 1px; /* Adjust based on your textarea's font */
  color: #999; /* Line numbers color */
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.editor-container {
  width: 100%;
  height: calc(100% - 30px);
  border: none;
  resize: none; /* Disable resizing to keep the layout consistent */
  font-family: monospace;
  overflow-y: hidden; /* Hide vertical scrollbar */
}

/* Rest of the CSS remains the same */

.editor-controls {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
}

button {
  background-color: #818181;
  color: #ddd;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

button:disabled {
  background-color: #333;
  color: #666;
  cursor: not-allowed;
}

.success-message {
  color: green;
  margin-right: auto; /* Moves the message to the left */
}

.error-message {
  color: red;
  margin-right: auto;
}
