.formatted-json {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #555;
  font-family: "Courier New", Courier, monospace;
  color: #c9d1d9;
  overflow: scroll;
  max-height: 20rem;
  width: 100%;
}
