/* You can add global styles to this file, and also import other style files */
@import "highlight.js/styles/tomorrow-night-blue.css";
.key {
  color: #d19a66;
}
.string {
  color: #98c379;
}
.number {
  color: #61afef;
}
.boolean {
  color: #c678dd;
}
.null {
  color: #e06c75;
}
.error {
  color: #e06c75;
}
