button,
input[type="submit"],
input[type="reset"] {
  display: block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: #4f545c;
  transition: background-color 0.17s ease, color 0.17s ease;
}

input,
button,
select,
textarea {
  font-family: inherit;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  margin: 0.5rem 1rem;
  width: 90%;
  display: block;
  justify-content: center;
}

button:active,
input[type="submit"]:active,
input[type="reset"]:active {
  background-color: #707680;
}
