button,
input[type="submit"],
input[type="reset"] {
  display: block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0 12px;
  line-height: 20px;
  height: 30px;
  max-height: 30px;
  background: #fff;
  font-weight: 700;
  border: 2px solid #dae3f3;
  border-radius: 0;
  color: #272c34;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow;
  transition-duration: 150ms;
  :hover {
    box-shadow: 0 2px 2px rgb(39 44 52 / 12%);
  }
}
