nav {
  background: #333;
  padding: 1rem 0;
  text-align: center;
}
nav a {
  color: #959ca0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  position: relative;
}
nav a:hover,
nav a:focus {
  background-color: transparent;
  color: #ffffff;
  outline: none;
}
nav a:hover::after,
nav a:focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: -6px;
  left: 0;
}
