<!DOCTYPE html>
<html
  th:fragment="layout (content)"
  th:with="extraJs=${extraJs} ? ${extraJs} : ~{},
    extraCss=${extraCss} ? ${extraCss} : ~{},
    title=${title} ? ${title} : 'JSON Resume Builer',
    extraText=${extraText} ? ${extraText} : 'JSON Resume Builer',
    topbarHeaderText=${topbarHeaderText} ? ${topbarHeaderText} : 'Default Header Hero'"
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <title th:text="${title}">Default Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <th:block th:replace="${extraCss}"></th:block>
  </head>
  <body class="page">
    <div class="page__content">
      <div
        th:replace="~{layout/elements/_topbar-header :: topbar-header(topbarHeaderText=${topbarHeaderText})}"
      ></div>
      <div
        th:replace="~{layout/elements/_topbar-navigation :: topbar-navigation}"
      ></div>
      <div class="content">
        <div th:replace="${content}"></div>
      </div>
    </div>
    <div th:replace="~{layout/elements/_footer :: footer}"></div>
    <th:block th:replace="${extraJs}"></th:block>
  </body>
</html>
